<!DOCTYPE html>
<html>
    <head>
        <title>House of Highlight</title>
    <Style>
        body {
        text-align: center;
        }

        h1 {
        color: #194d19;
        text-align: center;
        }
    </Style>
    </head>
    <body>
        <h1>Welcome To The House of Highlight!</h1>
        <h3> The one place that let you enjoy all kinds of NFL films </h3>
        <img src="nfl.jpg" alt="NFL Highlight" style="width:600px;height:360px;">


        <p>Click <a data-th-href="@{/dvds}">here</a> to select your films.</p>
    </body>
</html>