<!DOCTYPE html>
<html>
    <head>
        <title>House of Highlight</title>
    </head>
    <Style>
        body {
        text-align: center;
        background-color: #f2f2f2;
        }

        h1 {
        color: #194d19;
        text-align: center;
        }
    </Style>
    
    <body>
        <h1>Welcome To The House of Highlight!</h1>
        <h3> The one place to watch all the NFL films </h3>
        <p>Click <a data-th-href="@{/movie}">here</a> to select your films.</p>
    </body>
</html>