<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
        <style type="text/css">
        table, td, th {    
        border: 1px solid #ddd;
        text-align: left;
        }

        table {
        border-collapse: collapse;
        }

        th, td {
        padding: 5px;
        }
        </style>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s NFL Films</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>Film ID</th>
                    <th>Name</th>
                    <th>Film Type</th>
                </tr>                
                <tr data-th-each="movie : ${movie}">
                    <td data-th-text="${movie.id}"></td>
                    <td data-th-text="${movie.title}"></td>
                    <td data-th-text="${movie.videoType}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Films<br />
        <form data-th-action="@{/movie/add}" name="addMovieForm" method="post">
            Title: <input type="text" name="title" /><br />
            Film Type:<br />
            
            <input type="radio" name="videoType" value="Highlight" checked="checked"/> Highlight<br />
            <input type="radio" name="videoType" value="Replay" /> Replay<br />
            <input type="radio" name="videoType" value="Documentary" /> Documentary<br />
            <input type="radio" name="videoType" value="Other"/> Other<br />
            <input type="submit" value="Add Film"/>
        </form>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>