<!DOCTYPE html>
<html>
    <head>
        <title>House of Highlight</title>
    </head>
    <Style>
        body {
        text-align: center;
        background-color: #FFFFFF;
        }

        h1, h3 {
        color: #FFFFFF;
        text-align: center;
        }
        
        .bgimg {
                background-image: url('http://lpcdn.net/content/51/img/bg-1-1398569972.png');
            
                min-height: 100%;
                background-position: center;
                background-size: cover;
        }
        
    </Style>
    
    <body>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <h1 data-th-inline="text">Welcome, [[${#httpServletRequest.remoteUser}]], to the House of Highlight!</h1>
        <h3> The one place to watch all the NFL films </h3>
        <img src="http://s3.amazonaws.com/rv-wp/directvdealscom/uploads/2015/08/slide21.jpg" alt="Mountain View" style="width:410px;height:280px;"/>
        <p>Click <a data-th-href="@{/player}">here</a> to add your players to watch.</p>
        <p>Click <a data-th-href="@{/movie}">here</a> to select your films.</p>
        <p>Click <a data-th-href="@{/game}">here</a> to add your favourite match ups.</p>
        <p>Click <a data-th-href="@{/comment}">here</a> to share your thoughts.</p>
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </div>
    </body>
</html>